#wrapper{
	position: absolute;
}

#ending_screen {
    text-align: center;
}

#ending_screen div{
    height: 430px;
    padding-top: 50px;
    border: 1px;
    background: rgba(1, 1, 1, 0.5);
    text-align: top;
    padding-left: 100px;
}

#ending_screen p {
    font: 20px Comic Sans MS;
    text-shadow: 0 0 2px #000;
    color: white;
    }

#ending_screen p img {
    top: 10px;
    position: relative;
    cursor: pointer;
}

#ending_screen #ending_message {
    font: 32px Comic Sans MS;
    text-shadow: 0 0 2px #000;
    color: white;
}

#game_container {
    width: 640px;
    height: 480px;
    background: url("images/splashscreen.png");
    border: 1px solid black;
}

.game_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

#game_start_screen {
	padding-top: 250px;
	text-align: center;
}

#game_start_screen img{
	margin: 10px;
	cursor: pointer;
}

#level_select_screen {
	padding-top: 150px;
	padding-left: 50px;
}

#level_select_screen input {
	margin: 20px;
	cursor: pointer;
	background: url("images/icons/level.png");
	color: yellow;
	font-size: 20px;
	width: 64px;
	height: 64px;
	border: 0;
}

#loading_screen {
	background: rgba(100, 100, 100, 0.3);
}

#loading_message {
	margin-top: 400px;
	text-align: center;
	height: 48px;
	color: white;
	background: url("images/loader.gif") no-repeat center;
	font: 12px Arial;
}

#score_screen {
	height: 60px;
	font: 32px Comic Sans MS;
	text-shadow: 0, 0 2px #000;
	color: white;
}

#score_screen img{
	opacity: 0.6;
	top: 10px;
	position: relative;
	padding-left: 10px;
	cursor: pointer;
}

#score_screen #score {
	position: absolute;
	top: 40px;
	right: 20px;
}

#score_screen #high_score{
	position: absolute;
	top: 5px;
	right: 20px; 
}
